body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  background-color: #4cf5ec;
}

h1 { 
  font-size: 48px;
  font-weight: bold;
  color: rgb(121, 5, 67);
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}